<!DOCTYPE html>
<html lang="en">

<!-- ============================================================================================== HEAD -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  .trending-container{
        display: none;
        position: fixed;
        top: 100px; /* Adjust the top value to move the login/trending container down by 200px */
        left: 350px; /* Adjust the right value to position the login/trending container */
        z-index: 1000; /* Ensure the login/trending container is above other elements */
        text-align: left; /* Center-align the text */
        border: 5px solid #313232; /* Add a 1px solid border */
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 15px;
        width: 250px; /* Fixed width for the container */
        border-radius: 10%;
      }
      .trending {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 25px;
        border-bottom: 2px solid #313232;
        padding-bottom: 10px;
      }
      .trending-title{
          color: #5F5F5F;
      }
      .trending-item{
          margin-bottom: 15px;
          font-size: 20px;
          cursor: pointer;
      }
    .post {
        border: transparent;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        position: relative;
        border-bottom: 1px solid #313232;
        align-items: flex-start;
      }
      .post-info {
        display: flex;
        /* Align items to the start (left) */
        margin-bottom: 10px;
      }
      .user-image {
        border-radius: 5%;
        margin-right: 20px;
        padding: 0px;
        border: 3px solid white;
        width: 50px; /* Adjust the width to make the image smaller */
        height: 50px; /* Adjust the height accordingly */
      }
      .post-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Align items to the start (left) */
      }
      .post-name {
        font-weight: bold;
        margin-bottom: 2px; /* Add margin between name and description */
      }
      .post-time {
        width: 100%;
        text-align: right;
        font-size: 0.9em;
        margin-top: -5px;
        margin-bottom: 10px;
      }
      .post-image {
        max-width: 90%;
        align-items: end;
      }
      .post-video {
        max-width: 100%;
        align-items: end;
      }
      .user-profile-pic {
          border-radius: 0%;
          margin-right: 20px;
          padding: 0px;
          border: 2px solid white;
          width: 50px; /* Adjust the width to make the image smaller */
          height: 50px; /* Adjust the height accordingly */
          align-items: flex-start;
          margin-left: 10px;
      }
      .post-input {
        flex-grow: 1;
        padding: 20px;
        border: 5px transparent;
        background-color: transparent;
        width: 350px; /* Adjust the width to make the image smaller */
        border-radius: 4px;
        margin-right: 10px;
        height: 20px;
        color: white;
      }
      .doc-input {
        padding: 8px;
        background-color: #515232;
        color: #fff;
        border: 10px;
        border-radius: 6px;
        cursor: pointer;
        margin: 10px;
      }
      .post-button {
        padding: 8px;
        background-color: #313232;
        color: #fff;
        border: 10px;
        width: 4em;
        border-radius: 6px;
        cursor: pointer;
        margin: 10px;
      }
      .interactions{
      padding: 8px 16px;
      letter-spacing: 15px;
      }
      .switch-container {
        display: flex;
        display: none;
        margin-bottom: 10px;
        border-bottom: 1px solid #313232;
        padding-bottom: 5px;
      }

      .switch-button {
        flex-grow: 1;
        padding: 8px;
        padding-top: 3px;
        
        background-color: transparent;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        letter-spacing: 2px;
        margin-right: 5px;
        font-size: 20px;
      }

      .switch-button:last-child {
        margin-right: 0;
      }

      input[type="file"] {
      display: none; /* Hides the default file input */
      }
      
    .comment-box {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #313232;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 9000;
    }

    .comment-close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    
    #commentarea {
      font-family: Arial;
      font-size: 0.9em;
      width: 300px;
      height: 200px;
      padding: 10px;
      border: 30px;
    }

    #commentsubmit {
      height: 30px;
      width: 100px;
      border: 0px; 
      background-color: #212232;
    }


    .share-box {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      flex-direction: column;
      justify-content: center;    
      height:100px;
      transform: translate(-50%, -50%);
      background-color: #313232;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 9000;
    }
    
    #shareclose {
      height: 30px;
      width: 100px;
      border: 0px; 
      background-color: #212232;
    }

    .comment-div {
      color: #fff;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left:10px;
      padding-top:10px;
      padding-bottom:10px;
    }

    .comment-sender {
      margin-top: 5px;
      font-size:0.8em;
      font-weight: bold;
      padding-right: 5px;
    }

    .comment-text {
      font-size: 0.8em;
      margin-top: 5px;
    }
  </style>
 
 <div class="logo-container">
    <a href="/home">
      <object style="pointer-events: none;" data="/svg/app-logo.svg" type="image/svg+xml"></object>
    </a>
  </div>


  <div class="logout-container">
    <a href="/login">
      <object style="pointer-events: none;" data="/svg/logout.svg" type="image/svg+xml"></object>
    </a>
  </div>
</head>


<!-- ============================================================================================== BODY -->
<body>
  <header class="header">    
      <nav class="header__nav">
          <ul>
              <li>
                <a href="/home">
                  <object style="pointer-events: none;" data="/svg/home-icon.svg" type="image/svg+xml"></object>
                </a>           
                <a href="/search">
                  <object style="pointer-events: none;" data="/svg/search-icon.svg" type="image/svg+xml"></object>
                </a>

                <a id="msg-icon" href="/message">
                  <object style="pointer-events: none;" data="/svg/message-icon.svg" type="image/svg+xml"></object>
                </a>

                <a href="/notification">
                  <object style="pointer-events: none;" data="/svg/notif-icon.svg" type="image/svg+xml"></object>
                </a>
                
                <a href="/profile">
                  <object style="pointer-events: none;" data="/svg/profile-icon.svg" type="image/svg+xml"></object>
                </a>
              </li>
          </ul>
      </nav>
  </header>

  <div class="below-header">
    <div id="commentbox" class="comment-box">
      <span class="comment-close" onclick="closeCommentPopup()">×</span>
      <h2>Write your comment:</h2>
      <textarea id="commentarea"></textarea>
      <div style="padding:10px;display:flex; justify-content: center;">
        <button id="commentsubmit" onclick="submitComment()">Send</button>
      </div>
    </div>
  
  
    <div id="sharebox" class="share-box">
      <span class="comment-close" onclick="closeSharePopup ()">×</span>
      <a style="color: white" href="http://localhost:8000/">copy link to clipboard</a>
    </div>
  
  
    <div class="top-container">
        <div>
          <img class="user-profile-pic" src="<%=activeUserImage%>" alt="User Profile Pic">
        </div>
  
  
        <form action="/post" method="POST" enctype="multipart/form-data">
          <input class="post-input" type="text" id="thread-text" name="threadText" placeholder="Start a thread...">
  
          <div style="display:flex; align-items: flex-start;">
            <input type="file" id="imageUpload" accept="image/*, video/mp4" name="image"/>
            <button class="doc-input" type="button" onclick="document.getElementById('imageUpload').click()">Attach File</button>
            <button class="post-button" type="submit">Post</button>
          </div>
        </form>
    </div>
  
    <div class="trending-container"> 
        <div class="trending">Trending right now</div>
  
        <div class="trending-title"> Trending Entertaiment</div>
            <div class="trending-item">#cat4life</div>
  
        <div class="trending-title"> Trending Topic</div>
            <div class="trending-item">#petsday</div>
        
        <div class="trending-title"> Trending in Indonesia</div>
            <div class="trending-item">#meme</div>     
    </div>
  
    <div class="switch-container">
      <button class="switch-button" type="button">For You</button>
      <button class="switch-button" type="button">Following</button>
    </div>
          
    <% for (key in data) { %>
      <% var profile = data[key]; %>
        <div class="post">
          <a class="post-key" style="display:none;"><%=key%></a>
          <div class="post-time"><%=profile['post_time']%></div>                    
          <div style="display: flex; flex-direction: row; align-items:center;">
            <img class="user-image" src="<%=profile['user_img']%>">
            <span class="post-name"><%=profile['username']%></span>
          </div>
  
          <div class="post-content">
              <p class="post-desc"><%=profile['post_description']%></p>
          </div>
            
          <% if (profile['filetype'] == 'image') { %>
            <img class="post-image" src="<%=profile['post_img']%>">
          <% } %>
  
          <% if (profile['filetype'] == 'video') { %>
            <video class="post-video" controls>
              <source src="<%=profile['post_img']%>" type="video/mp4">
              Your browser does not support the video tag.
            </video>            
          <% } %>
  
          <div class="interactions">
            <object class="heart-container" data="/svg/heart-icon.svg" type="image/svg+xml"></object>
            <object class="comment-container" data="/svg/comment-icon.svg" type="image/svg+xml"></object>
            <object class="repost-container" data="/svg/repost-icon.svg" type="image/svg+xml"></object>
            <object class="share-container" data="/svg/share-icon.svg" type="image/svg+xml"></object>
          </div>   
      </div>
    <% }; %>
  </div>

  <script src="/js/home-interaction.js"></script>
</body>